main{
    display: flex;
    height: 100vh;
}

#list{
    background-color: aqua;
    flex: 6;
    padding: 1rem;

}

#form{
    background-color: lightblue;
    flex: 6;
    padding: 1rem;

}

/**Section A**/


/**Form**/
.budget{
    display: flex;
}

#form label{
    text-decoration: underline;
}
.bottomLine{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
#titleRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
#descriptRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
#colorRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
#dateRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
#statusRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
#budgetRequirement{
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 5px;
    color: red;
}
.notification {
    margin-right: auto;
    margin-left: auto;
    display: none;
    padding: 10px;
    border-radius: 5px;
    color: green;
    margin-top: 10px;
}